
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* width: 100%; */
}

li {
    list-style-type: none;
}
.banner-bottom a:hover,
.boxoffice-menu-item a :hover,
.curation a :hover,
#notice-more a:hover
.megaboxInfo-notice :hover,
.megaCS a :hover,
.fnb a:hover{
    text-decoration: underline;
}

a {
    text-decoration: none;
    /* color: white; */
    /* 여기서 지정해버리면 모든 a링크의 글씨 색이 하얀색이 되어버리는데 
    메가박스 안내와 풋터는 글자색이 검정색이어야 함. 따라서, 글자식은 해더별 별도 지정 필요 */
}
header a,
#sitemap a,
.boxoffice a,
.curation a{
    color: white;
}

.megaboxInfo a,
#footer a{
    color: black;
}



.box {
    width: 1200px;
    margin: 0px 120px;
}

/*banner**********************************************************************/
header {
    /* padding: 0px 100px; */
    border: 0.3px solid black;
    height: 120px;
    width: 100%;
    background-color: grey;
    font-size: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
/***** 배너의 로고의 위쪽 부분 *****/
.banner-top{
    display: flex;
    justify-content: space-between;
}
.banner-top ul{
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
    font-size: 12px;
    /* text-align: center; */
    /* div 요소 안에서 text 세로 기준 가운데 정렬 */
}
.banner-top-left li{
    margin-right: 20px;
    display: block;
    line-height: 44px;
    /* border: 0.3px solid black; */
}
.banner-top-right li{
    margin-left: 20px;
    display: block;
    line-height: 44px;
    /* border: 0.3px solid black; */

}

/***** 배너의 로고 부분 *****/
#banner-logo {
    /* border: 0.3px solid black; */
    width: 100px auto;
    margin-top: 7px;
    bottom: 36px; 
}

/***** 배너의 로고의 아래쪽 부분 *****/
.banner-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: #339eb2;
    padding: 0 20px;
}


#gnb{
    width: 1100px;
    display: flex;
    /* flex-direction:  */
    justify-content: space-evenly;
    font-size: 12px;;
}   
#gnb>.gnb-depth1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    height: 50px;
    background-color: #339eb2;
    position: relative; /* 자식요소의 절대위치 기준 */
    /* border: 0.3px solid black; */
}
.gnb-depth2>ul{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    /* border: 0.3px solid black; */
}
/* 드롭다운의 숨겨진 컨텐츠(기본 숨김) */
.gnb-depth2{ /*내부 메뉴 묶음*/
    display: none;
    position : absolute; /* 위치를 부모 기준으로 절대위치 설정*/
    background-color: darkcyan;
    color : ghostwhite;
    width: 100%;
}

/* 마우스 올렸을 때 드롭다운 컨텐츠 표시 */
.gnb-depth1:hover .gnb-depth2{
    display: block;
}

/*sitemap*********************************************************************/
#sitemap .sitemap {
    display: ;
    color: white;
    background-color: blanchedalmond;
}

/*boxoffice*******************************************************************/
/* 뒷배경 사진 삽입 및 블러 처리 */
.boxoffice {
    height: 700px;
    /* background-image: url('./../img/background_img.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(136, 135, 135);
    color: white;

    /* position: absolute; */
    left: 0;
    top: 0;
    z-index: -10;
    
}

#background_img {
    z-index: -100;
}

/**** 박스오피스 제목라인 ****/

#boxoffice-title {
    text-decoration: underline white;
    /* border: 0.3px solid black; */
    text-align: center;
    font-size: 30px;
    position: relative;
}

/* 더 많은 영화보기  */
#boxoffice-title span {
    float: right;
    /* position: relative; */
    font-size: 17px;
}

/**** 박스오피스 영화 *****/
.boxoffice-movie- ul {
    /** 박스오피스 영화부분 전체 틀 **/
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* justify-content: center; */
    width: 100%;
    height: 440px;
}

.boxoffice-now_movie {
    /* border: 0.3px solid black; */
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 350px;
}
.boxoffice-now_movie img {
    border-radius: 6px;
}

/*** 박스오피스 영화의 버튼들 ***/
.boxoffice-now_movie div {
    display: flex;
    margin-top: 6px;
    gap: 5px;
}

.btn-heart {
    height: 36px;
    width: 80px;
    background-color: black;
    border-radius: 5px;
}

.btn-reserv {
    height: 36px;
    width: 170px;
    background-color: rgb(38, 162, 193);
    /* border: 1px solid rgb(38, 162, 193); */
    border-radius: 5px;
}

/**** 박스오피스 메뉴 ****/
.boxoffice-menu {
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
    padding: 10px;
    align-items: center;
    height: 75px;
    margin: 50px 0 0 0;
    background-color: rgba(0, 0, 0, 0.2);
}

/* 입력창이 묶여있는  */
#search-movieName-div {
    border: none;
}

#search-movieName {
    /* margin: 100%;
    height: 100%; */
    background-color: transparent;
    color: #fff;;
    padding: 7px;
    outline: none; /* 투명도 0(안보임) ~ 1(잘보임) */
    border: none;
    border-bottom: 1px solid #423e3e;
}
#search-movieName::placeholder {
    color: #fff;
    opacity: 0.5;
}
#search-movieName-div button {
    /* 돋보기 버트 -> 이미지 추가, 배경 없게, 입력창 옆에서 뜨도록 수정 */
    background-color: transparent;
    border: none;
}

/* 박스오피스 메뉴 : 상영시간표, 박스오피스, 빠른 예매 */
.boxoffice-menu-item {
    position: relative;
    float: left;
    width: 25%;
    text-align: center;
    border-left: 1px solid #423e3e;
}
.boxoffice-menu-item a {
    text-decoration: none;
    line-height: 30px;
}

.boxoffice-menu-img {
    align-items: center;
}


/*** 제일 아래 마우스  ***/
#boxoffice-mouse {
    height: 48px;
    text-align: center;
    margin-top: 15px;
    padding-top: 15px;

}

/*curation********************************************************************/
.curation {
    height: 840px;
    background-color: #351f66 ;
    display: flex;
    flex-direction: row;
    color: white;
}

.curation-top {
    height: 35px;
    margin: 50px 0px 40px 0px;
    /* border: 0.3px solid black; */
}

/**** 큐레이션 왼쪽 부분 *************************/
.curation{
    /* border: 0.3px solid blue; */
}
.curation .box{
    display: flex;
    /* gap: 16px; */
    justify-content: space-around
}

.curation-left {
    /* border: 0.3px solid black; */
    width: 300px;
    /* 너비 지정 */
    /* margin-left: 20px; */
}

/*** .curation-top 부분 *****/
#curation-title {
    font-size: 1.4em;
    text-align: left;
    /* font-weight: ; */
    /* hn 태그에서 아예 안 먹음 */
    letter-spacing: -1px;
    /* 미묘한 차이 있음 */
}

/*** 큐레이션 메인  ******/
#curation-mainFilm img {
    width: 300px;
    height: 430px;
    border-radius: 8px;
}


#btn-info-curation,
#btn-reserv-curation {
    width: 145px;
    height: 50px;
    font-weight: 400;
    border-radius: 4px;
    color: white;
    margin: 10px 0px 0px 2px;
    /* vertical-align: middle; */
    font-size: 1.3em;
    text-align: center;

}

#btn-info-curation {
    /* font-size: 1.3em;
    text-align: center; */
    /* line-height: 48px; */
    background-color: transparent;
    border: 2px solid white;
    /* vertical-align: middle; */
}

#btn-reserv-curation {
    background-color: rgb(38, 162, 193);
    border: 2px solid rgb(38, 162, 193);
}

/*** 큐레이션 오른쪽 부분 ***********************/
.curation-right {
    width: 700px;
    /* border: 0.3px solid rgb(78, 3, 3); */
    /* padding-left: 40px; */
    /* position: absolute; */
}

/*** .curation-top 부분 *****/
#curation-moreCu {
    text-align: right;
    line-height: 40px;

}

#mainfilm-txt {
    /* #필름소사이어티 부분 */
    font-size: 1.2em;
}

#mainfilm-title {
    /* 주요 공연 제목 - 이사 */
    font-size: 40px;
    display: block;
    padding: 5px 0px 30px 0px;
    /* block요소 이어야지 padding 이 잘 먹는것 같은데,, */
}

#mainfilm-summary {
    display: block;
    margin: 20px 0px 10px 0px;
}

/*** 큐레이션 다른 필름들  ******/
.curation-films {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    color: white;
    /* font-weight: 70; -> 여기서 넣으면 글자 굵기 안 먹음*/
    /* 자간 줄이기, */

    /* border: 0.3px solid black; */
}

.curation-films-deep p {
    letter-spacing: 0.08px;
}

.curation-films-deep img {
    height: 270px;
    width: 170px;
    border-radius: 8px;
}

/*megaboxInfo******************************************************************/
.megaboxInfo {
    height: 640px;
    background-color: white;
    color: black;
}

/***** 메가박스 : 제목 *******/
.megaboxInfo h2 {
    display: block;
    margin: 0px auto;
    padding: 50px 0px 38px 0px;
}

/***** 메가박스 : 기술 광고 부분 *******/
#megaInfo-ad-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.megaInfo-ad {
    height: 170px;
    width: 170px;
    overflow: hidden;
}

.megaInfo-ad img {
    width: 170px;
    /* 오리지널 사이즈 */
    height: 340px;
    border-radius: 10px;
}

/***** 메가박스 : 공지 *******/
.megaboxInfo-notice-container {
    /* 여기는 리스트 */
    display: flex;
    flex-direction: row
}

/***** 메가박스 : CS *******/
.megaCS-container {
    /* 여기는 div 안에 블럭요소들 */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}

.megaCS {
    text-align: center;
}

.megaCS {}

/*footer**********************************************************************/
footer {
    height: 700px;
    background-color: #f8f8fa;
    display: flex;
    flex-direction: column;
}

/**** .footer-top ***********/
.footer-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2% 0px;
}

.fnb {
    display: flex;
    flex-direction: row;
    
}

.fnb li {
    margin-right: 20px;
}
.privacy {
    font-weight: bold;
}
.btn-looking-theater{
    display: flex;
    flex-direction: end;
    width: 100px;
    height: 30px;
    border-radius: 30px;
    border: 1px solid gray;
    text-align: center;
    background-color: transparent;
    padding: 5px 0px;
}
.btn-looking-theater img {
    width: 20px;
    height: 20px;
    margin: 3px;
}

/**** .footer-bottom ******************/
.footer-bottom {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    /* border: 0.2px solid black; */
}
#footer-logo{
    object-fit: contain;
    margin-right:20px;
}
/*** 회사정보 .footer-info ****/
.footer-info {
    /* border: 0.2px solid black; */
    font-size: small;    
}

/*** sns .footer-sns *****/
.footer-sns{
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
}
.footer-sns img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}